# Ignore files in the frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/.env*
frontend/dist/
frontend/coverage/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.vscode/
frontend/.idea/

# Ignore files in the backend (.NET)
backend/bin/
backend/obj/
backend/*.db
backend/*.log
backend/*.vs
backend/*.vscode
backend/.vscode/
backend/appsettings*.json
backend/secrets.json
backend/logs/
backend/TestResults/
backend/publish/
backend/*.pdb
backend/*.suo
backend/*.user
backend/*.userosscache
backend/*.sln.docstates

# General files to ignore
*.DS_Store
Thumbs.db

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn